*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


 .bgColor{
  background-color: #16355F;
  box-shadow: #26313C;
  height: 80px;
  margin-top: -10px;
 }

.carousel-item::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.7;
}
.carousel-caption{
    top: 200px;
}
.btn-read{
    padding: 8px 25px;
    outline: none;
    border: 0;
    background-image: linear-gradient( #4B9ADF, #26C9D5);
    border-radius: 20px;
    margin-top: 20px;
}
.btn-read:hover{
    padding: 8px 25px;
    outline: none;
    border: 0;
    background-image: linear-gradient(#26C9D5, #4B9ADF );
    border-radius: 20px;
}

#sec-one{
    background-color: #EEEEEE;
    padding-top: 50px;
    padding-bottom: 50px;
}
.about-img{
    padding-left: 30px;
}
/* *************************** */
#sec-second{
padding-top: 80px;
padding-bottom: 40px;
background-color: #F6F7F8;
}
.card{
    margin-top: 20px;
   padding-bottom: 35px;
}
.card-text{
    margin-top: 20px;
}
.para-hover:hover{
    cursor: pointer;
    color: #4B9ADF;
}
.heading-our{
    font-size: 3rem;
    font-weight: 300;
}
/* ******************************* */

.section-background {
    background-image: url('/images/counter-bg.jpg'); 
    background-size: cover;
    background-position: center;
    height: 60vh; 
}
.content-center {
    padding: 20px 80px;
    border-radius: 10px;
    color: #EEEEEE;
    
}
.content-center a{
  color: #fff;
 text-decoration: none;
}

/* ******************************************** */
.our-Client{
    padding: 40px 0;
}


/* ******************************************************* */
.blog-sec{
    background-color: #F6F7F8;
    padding: 40px 0 100px 0;
}
.link{
    text-decoration: none;
    color: #fff;
}
.heading-hover:hover{
    cursor: pointer;
    color: #4B9ADF;
}
.text-color{
    color: #83E0F8; 
    font-weight: 400;
    font-size: 20px;
}
.img-hover:hover{
    cursor: pointer;
    transform: scale(.99);
}
/* ************************************************* */


.carousel-item img {
    width: 100%;
    height: auto;
 
}


.testimonial-item {
    padding: 15px;
}


/* ****************************************************** */
.conatact-sec{
    background-color: #EEEEEE;
    padding: 60px 0 30px 0;
}

/* ************************************************************** */
.footer-sec{
    background-color: #26313C;
    padding: 50px 0;
}
.footer-para{
    font-size: 14px;
}
.footer-sec i{
    font-size: 24px;
}
.no-email{
    margin-top: 10px;
}

.icon-linked{
   width: 35px;
   height: 35px;
   border-radius: 50%;
    background-color: #4B9ADF;
   padding: 7px 0 5px 5px;
   text-align: center;
}
.icon-face{
    width: 35px;
    height: 35px;
    border-radius: 50%;
     background-color: #3B5998;
    padding: 7px 0 18px 1px;
    text-align: center;
 }
 .icon-insta{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-image: linear-gradient(#E41C84, #FAD423 );
    padding: 7px 0 18px 1px;
    text-align: center;
 }
 .coloun-icon i{
    font-size: 12px;
    color: #636060;
 }
